__pycache__/
/KaHIP
/log
/save
/tensorboard_log
/gene
/*.sh
/data/*
HOSER_paper.pdf
HOSER_paper.txt
EVAL_NOTES.md
.cursor/
*.pdf
# Weights & Biases
wandb/
*.wandb

optuna_trials/
optuna_results/

# Pipeline logs and outputs
hoser-distill-optuna-6/eval/
hoser-distill-optuna-6/gene/
hoser-distill-optuna-6/wandb/
hoser-distill-optuna-6/pipeline.log
hoser-distill-optuna-6/eval_test.log